$color-background: #f5f5f5;
$color-text: #333;
$color-primary: #0073aa;
$color-secondary: #005f8a;
$color-tertiary: #818181;
$color-modal-overlay: rgba(0, 0, 0, 0.5);
$color-tooltip-bg: rgba(0, 0, 0, 0.8);
$color-white: #fff;
$color-red: #c93e3e;
$color-green: #3ec93e;
$color-orange: #c97b3e;

$font-base: "Arial", sans-serif;

$spacing2x: 2rem;
$spacing: 1rem;
$spacing-half: calc($spacing / 2);
$spacing-xs: 0.5rem;
$spacing-xxs: 0.25rem;
